<div class="container">
  <div class="card"> <!--align-items-center-->
    <div class="card-body">
      <h2 class="card-title text-center">Serpientes y Escaleras</h2>
      <div class="row d-flex justify-content-center">
        <img src="../../../assets/images/S-E.png" alt="" />
      </div>
      <div class="row d-flex justify-content-center mt-4">
          <button
          type="button"
          class="btn btn-dark"
          style="
            font-size: 30px;
            text-shadow: black 5px 3px 3px;
            background-color: #008080;"
          (click)="goCustomUser()">
          Iniciar
        </button>
      </div>
    </div>
  </div>
</div>
