<div class="container">
  <div class="card">
    <div class="card-body">
      <button class="btn btn-dark" (click)="goBack()"><i class="fas fa-arrow-left"> Regresar</i></button>
      <form>
        <div class="form-group">
          <label for="playerSelect">Selecciona el número de jugadores</label>
          <select class="form-control"
                  id="playerSelect"
                  name="playerSelect"
                  [(ngModel)]="playerCount"
                  (change)="buildTextInputs()">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
          <div *ngFor="let player of playerList; let i = index" [attr.data-index]="i" class="form-group">
            <label for="{{'player' + i}}">{{'Ingrese el nombre del jugador ' + (i + 1)}}</label>
            <input type="text"
                  class="form-control"
                  id="{{'player' + i}}"
                  placeholder="Ingrese el nombre del jugador"
                  name="{{'player' + i}}"
                  [(ngModel)]="player.name">
          </div>
        </div>
        <div class="float-right">
          <button
            type="button"
            class="btn btn-dark"
            (click)="goGame()">Jugar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

