<div class="container">
  <div class="card">
    <div class="card-body">
      <button class="btn btn-dark" (click)="goBack()"><i class="fas fa-arrow-left"> Regresar</i></button>
      <form>
        <div class="form-group">
          <label for="playerSelect">Selecciona el número de jugadores</label>
          <select class="form-control"
                  id="playerSelect"
                  name="playerSelect"
                  [(ngModel)]="playerCount"
                  (change)="buildTextInputs()">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
          <div *ngFor="let player of playerList; let i = index" [attr.data-index]="i" class="form-group">
            <label for="{{'player' + i}}">{{'Ingrese el nombre del jugador ' + (i + 1)}}</label>
            <input type="text"
                  class="form-control"
                  id="{{'player' + i}}"
                  placeholder="Ingrese el nombre del jugador"
                  name="{{'player' + i}}"
                  [(ngModel)]="player.name">
          </div>
        </div>
        <div class="float-right">
          <button
            type="button"
            class="btn btn-dark"
            (click)="goGame()">Jugar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Add icon library -->
<!--<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<button
  type="button"
  class="btn btn-dark"
  style="
    font-size: 60px;
    text-shadow: black 5px 3px 3px;
    background-color: #008080;
  "
>
  <a href="#" class="previous">
    <i class="fa fa-home">Inicio</i>
  </a>
</button>

<button
  type="button"
  class="btn btn-dark"
  style="
    font-size: 60px;
    text-shadow: black 5px 3px 3px;
    background-color: #008080;
  "
  (click)="goPlay()"
>
  Jugar
</button>

<button
  type="button"
  class="btn btn-dark"
  style="
    font-size: 30px;
    text-shadow: black 5px 3px 3px;
    background-color: #008080;
  "
>
  <i class="fa fa-trash">Limpiar</i>
</button>

<p></p>

<div class="custom-select" style="width: 250px">
  <select>
    <option value="0">Numero de participantes:</option>

    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
  </select>
</div>

<div class="container">
  <form action="/action_page.php">
    <label for="usrname">Nombre Jugador </label>
    <input type="text" id="usrname" name="usrname" required />
  </form>
</div>

<p></p>

<div class="custom-select" style="width: 250px">
  <select>
    <option value="0">Matéria:</option>

    <option value="1">Lógica Digítal</option>
    <option value="2">Circuitos Lógicos</option>
    <option value="3">Electrónica</option>
  </select>
</div>

<p></p>

<div class="custom-select" style="width: 250px">
  <select>
    <option value="0">Tamano de tablero:</option>

    <option value="1">5 x 5</option>
    <option value="2">7 x 7</option>
    <option value="3">10 x 10</option>
  </select>
</div>

<html>
  <head>
    >
    <style>
      .button {
        padding: 20px 30px;
        font-size: 60px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #04aa6d;
        border: none;
        border-radius: 30px;
        box-shadow: 0 15px #999;
      }

      .button:hover {
        background-color: #3e8e41;
      }

      .button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    </style>
  </head>
  <body>
    <button class="button" (click)="goPlay()">Jugar</button>
  </body>
</html>-->
